<!DOCTYPE html>
<html>
<head>
	<title>90s Nostaliga Shows</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body ng-app="cartoonNostalgiaApp" background="http://stuffpoint.com/90s-cartoons/image/309574-90s-cartoons-90s.jpg">


<div ng-controller="cartoonNostalgiaCtrl" class="container" style="padding-top: 35px;">
	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-3">
					<input type="text" ng-model="newCharacter.name" placeholder="Name" class="form-control">
				</div>
				<div class="col-sm-3">
					<input type="text" ng-model="newCharacter.imgURL" placeholder="Image URL" class="form-control">
				</div>
				<div class="col-sm-3">
					<input type="text" ng-model="newCharacter.userName" placeholder="Your User ID" class="form-control">
				</div>
				<div class="col-sm-3">
					<button ng-click="addCharacter()" class="btn btn-success">Submit your favorite!</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div ng-repeat="thing in allCharacters" class="col-sm-3">
			<div class="row">
				<div class="col-sm-12">
					<h3>
						<button ng-click="deleteCartoon($index)" class="btn btn-xs btn-danger">X</button>
						<span style="color:#E60000;">
							{{thing.name}}
						</span>
					</h3>
				</div>
				<div class="col-sm-12">
					<img ng-src="{{thing.imgURL}}" class="img-responsive">
				</div>
				<div class="col-sm-12" style="color: #FF0000; font-size: 10px;">
					<strong>{{thing.userName}}</strong>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6" style="padding-left:5px, padding-right:10px">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/CTcy51kHDTM" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="col-sm-6" style="padding-left:15px">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/Diaw5ccq--Y" frameborder="0" allowfullscreen></iframe>
		</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6" style="padding-left:30px">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/cYpL3RCI15Q" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="col-xs-12 col-sm-6" style="padding-right:10px">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/hOqLNn-C6c0" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>
	


<embed src="./audio/tmnt.mp3" autostart="true" loop="infinite" width="2" height="0"></embed>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="app.js"></script>
<script src="modelservice.js"></script>
<script src="modelmanager.js"></script>
</body>
</html>